@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  height: 100vh;
  background: hsl(216, 12%, 8%);
  position: relative;
  font-family: 'Overpass', sans-serif;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(213, 19%, 18%);
  width: 80%;
  padding: 2em 1em;
  border-radius: 10px;
}

.text h2 {
  color: #fff;
  padding: 1em 0;
  font-weight: 400;
}

.text p {
  color: hsl(217, 12%, 63%);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 2em;
}

form input {
  display: inline-block;
  width: 15%;
  margin: 0 .5em;
  border: none;
  border-radius: 100px;
  padding: 1em;
  color: hsl(217, 12%, 63%);
  background: hsl(216, 12%, 54%);
}

form input:hover {
  background: hsl(25, 97%, 53%);
}

form button {
  background: hsl(25, 97%, 53%);
  margin-top: 2em;
  width: 100%;
  border: none;
  border-radius: 50px;
  padding: 1.3em 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}